[submodule "ParseUI-Android"]
path = ParseUI-Android
url = https://github.com/ParsePlatform/ParseUI-Android.git

[submodule "recyclerview-animators"]
path = recyclerview-animators
url = https://github.com/aphexcx/recyclerview-animators.git 
